<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Template>Normal.dotm</Template>
  <Company>Sky123.Org</Company>
  <Pages>43</Pages>
  <Words>17142</Words>
  <Characters>24453</Characters>
  <Lines>980</Lines>
  <Paragraphs>620</Paragraphs>
  <TotalTime>74</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>25575</CharactersWithSpaces>
  <Application>WPS Office_12.1.0.25865_F1E327BC-269C-435d-A152-05C5408002CA</Application>
  <DocSecurity>0</DocSecurity>
</Properties>
